.display-3 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: #f7f7f7;
}

.contactform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
    margin-top: 100px;
    align-items: center;
    font-family: Cambria, sans-serif;
    font-style: italic;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

    .contactform label {
        display: block;
        margin-bottom: 10px;
    }

    .contactform input[type="text"],
    .contactform textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: none;
    }

.field-validation-error {
    color: red;
    text-align: center;
    margin-top: 5px;
}

.contactform input[type="submit"] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    .contactform input[type="submit"]:hover {
        background-color: #ddd;
    }

.form-group {
    margin-bottom: 23px;
}

label {
    display: block;
}
