.display-3 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: #f7f7f7;
}

.display-5 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: #f7f7f7;
}

.position {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #cacbcc;
}

.position1 {
    text-align: center;
    margin-left: 600px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    animation: position1 3s infinite;
}

@keyframes position1 {
    0% {
        color: grey;
    }

    25% {
        color: white;
    }
    37.5% {
        color: black;
    }

    50% {
        color: white;
    }

    62.5% {
        color: black;
    }

    75% {
        color: white;
    }

    100% {
        color: black;
    }
}

.position2 {
    text-align: right;
    margin-left: auto;
    width: 18em;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}


    .position2:hover {
        color: #3979fc;
        font-weight: bold;
    }

.position3 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    animation: position3 7s infinite;
}


@keyframes position3 {
    0% {
        color: white;
    }

    25% {
        color: black
    }

    50% {
        color: white
    }

    75% {
        color: black;
    }

    100% {
        color: black;
    }
}
