html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    height: 70px;
    background-color: #827f7f;
}

body {
    margin-bottom: 60px;
/*    background-color: #ffffff;*/
/*    background-image: url("Sportschool.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
}

footer {
    height: 70px;
    background-color: #282828;
}

img1{
    height: 500px;
    width: 500px;
}

img2 {
    height: 500px;
    width: 500px;
    align-items: center;
}


.position0 {
    text-align: left;
    margin-bottom: 90px;
    color: white;
}

.display-4 {
    text-align:center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: black;
}

.position {
    text-align: çenter;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: dimgrey;
}

.position1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    animation: position1 5s infinite;
}

@keyframes position1 {
    0% {color: white;
    }

    25% {color: blue;
    }

    50% {color: darkslategrey;
    }

    75% {color: darkgrey;
    }

    100% {color: black;
    }
}

.position2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}


.position2:hover{
    color: #020eee;
}

.position3 {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    animation: position3 10s infinite;
}

@keyframes position3{
    0% {color: white;
    }

    25% {color: black
    }

    50% {color: white
    }

    75% {color: black;
    }

    100% {color: black;
    }
}


.background-image {
    background-image: url("Images/sportschool-kiezen.jpg");
    background-size: cover;
}

.form-group {
    text-align: center, right;
    font-size: 15px;
    font-weight: bold;
}


.contactform label {
    width: 100px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 100px;
}