html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    height: 70px;
    background-color: #827f7f;
}

body {
    margin-bottom: 80px;
    background-image: url("https://imgur.com/YMulMba.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*    background-color: #ffffff;*/
    /*    background-image: url("Sportschool.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Pas de achtergrondkleur en dekking aan zoals gewenst */
        z-index: -1;
    }


footer {
    height: 70px;
    background-color: #282828;
    justify-content: center;
    align-items: center;
    color: white;
}



.contactform {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px;
    color: white;
}

.form-group {
    margin-bottom: 23px;
}

label {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.container2 {
    text-align: center;
    color: white;
}

.left-section, .right-section {
    flex-basis: 45%;
    padding: 25px;
    border: 1px solid #ddd;
    background-color: #4343;
}

.right-section {
    text-align: right;
}

.search-container {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.search-input {
    position: relative;
    top: 24px;
    right: 100px;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

.search-button {
    position:relative;
    bottom: 24px;
    left: 100px;
    width:120px;
    height:48px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}



.location-info {
    position: relative;
    top: 100px;
    width: 50%;
    padding: 20px;
    font-size: 25px;
    text-align: left;
}

.new-locations {
    position: relative;
    bottom: 50px;
    left: 125px;
    animation: zoom 5s ease-in-out infinite;
    text-align: center;
}
    
@keyframes zoom {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(2);
        }

        100% {
            transform: scale(1);
        }
    }

    .google-map {
        width: 10%;
        position: absolute;
        top: 275px;
        right: 610px;
        text-align: center;
    }


    .position0 {
        text-align: left;
        margin-bottom: 90px;
        color: white;
    }


.display-4 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: #f7f7f7;
}

.display-5 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: #f7f7f7;
}
    .position {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: bold;
        font-family: Cambria, sans-serif;
        font-style: italic;
        font-size: 15px;
        color: #cacbcc;
    }

    .position1 {
        /*    text-align: right;
*/ top: 20px;
        left: 30px;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
        font-size: 24px;
        animation: position1 5s infinite;
    }

    @keyframes position1 {
        0% {color: white;
    }

    25% {color: blue;
    }

    50% {color: darkslategrey;
    }

    75% {color: darkgrey;
    }

    100% {color: black;
    }
}

.position2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 0.2;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}


.position2:hover{
    color: #020eee;
    font-weight: bold;

}

.position3 {
  
    margin-top: 280px;
/*    margin-bottom: 50px;
*/    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    animation: position3 7s infinite;
}


    @keyframes position3 {
        0% {
            color: white;
        }

        25% {
            color: black
        }

        50% {
            color: white
        }

        75% {
            color: black;
        }

        100% {
            color: black;
        }
    }

    .background-image {
    background-image: url("Images/sportschool-kiezen.jpg");
    background-size: cover;
}

.form-group {
    text-align: center, right;
    font-size: 15px;
    font-weight: bold;
}


.contactform label {
    width: 100px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 100px;
}


img{
    height: 70px;
    width: 70px;
}

.pricing-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.pricing-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

    .pricing-card h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .pricing-card .price {
        color: #666;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .pricing-card ul {
        list-style-type: none;
        padding: 0;
        color: black;
    }

        .pricing-card ul li {
            margin-bottom: 10px;
            color: black;
        }

    .pricing-card a.btn {
        background-color: #333;
        color: #fff;
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
}

.nav-item{
    font-size: 20px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-info {
    position: relative;
    bottom:142px;
    left:300px;
    padding: 20px;
    font-size: 25px;
    text-align: left;
}

#social-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1px;
}

    #social-buttons a {
        margin-left: 15px;
        
    }

    #social-buttons img {
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 10px;
        
    }

.position5 {
    text-align: left;
    margin-top: 120px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 50px;
    color: #f7f7f7;
}