@model List<string>
@{
    ViewData["Title"] = "TheBios - Home";
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/Index.css">
</head>
<body onload="checkCookie()">
    <div class="text-center">
        <h1 class="display-3">Sportschool The Hague</h1>
        <h2 class="display-5">Centrum Beta Fit</h2>
        @foreach (string naam in Model)
        {
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        }
    </div>
    <div class="text-center">
        <p class="position">
            At BETA FIT gym in The Hague, you will find the perfect environment to train to the fullest.
            Our relaxed atmosphere and personal approach ensure that you feel at home while being challenged.
            With our personal trainers and group classes, we provide the right training programs and additional challenges to help you achieve your goals.
            Welcome to BETA FIT, the gym in the center of The Hague.
        </p>
        <p class="position1">
            Sports 5 Weeks Free
        </p>
        <p class="position2">
            Limited Time Offer: Get 5 weeks for free + a sports bag as a gift with a new annual membership at BETA FIT gym.
        </p>
        <p class="position2">
            Take advantage quickly.
        </p>
        <p class="position3">
            <span>Word Lid!</span>
            <span>Word Lid!</span>
            <span>Word Lid!</span>
            <span>Word Lid!</span>
            <span>Word Lid!</span>
            <span>Word Lid!</span>
        </p>
    </div>
</body>
</html>
