@{
    ViewData["Title"] = "Locatie";
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/Locatie.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-3">Locatie Sportschool Den Haag</h1>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Location</th>
                <td>Grote Marktstraat</td>
            </tr>
            <tr>
                <th>City</th>
                <td>The Hague</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>2511 BH</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>
                    <ul>
                        <li>E-mail address: BETAFIT@gmail.com</li>
                        <li>Phonenummer: +31 70 3486573</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Personal Trainers</th>
                <td>Available</td>
            </tr>
            <tr>
                <th>Group Lessons</th>
                <td>Available</td>
            </tr>
            <tr>
                <th>Training Schedules</th>
                <td>Offered</td>
            </tr>
            <tr>
                <th>Temporary promotions</th>
                <td>5 weeks free + sports bag gift with new year membership</td>
            </tr>
        </table>
    </div>

    <div class="new-locations">
        <p>
            New Locations<br>
            Coming Soon
        </p>
    </div>

    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.6149357568577!2d4.25543201426538!3d52.07640245799947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c64a2b96008d%3A0x2491534ad4d2113a!2sGrote%20Marktstraat%2C%20Den%20Haag!5e0!3m2!1sen!2snl!4v1622887852004!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</body>
</html>

