@{
    ViewData["Title"] = "Locatie";
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Locatie Sportschool Den Haag</h1>
    </div>

    <div class="text-center">
        <p>
            Grote Marktstraat<br>
            Den Haag<br>
            2562 PT
        </p>

        <p class="position4">
            Contact
        </p>

        <p class="position5">
            Email-adres: BETAFIT@gmail.com<br>
            Telefoonnummer: 070 348657
        </p>

        <p class="position6">
            Nieuwe locaties<br>
            Binnenkort beschikbaar
        </p>
    </div>
</body>
</html>
