@{
    ViewData["Title"] = "Locatie";
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Locatie Sportschool Den Haag</h1>
    </div>

    <div class="location-info">
        <p>
            Grote Marktstraat<br>
             <br />
            Den Haag<br>
             <br />
            2562 PT
        </p>
    </div>
    
    <div class="contact-info">
        <p class="position4">
            Contact:
        </p>

        <p>
            Email-adres: BETAFIT@gmail.com<br>
            Telefoonnummer: 070 348657
        </p>
    </div>

    <div class="new-locations">
        <p>
            Nieuwe locaties<br>
            Binnenkort open
        </p>
    </div>

    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.6149357568577!2d4.25543201426538!3d52.07640245799947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c64a2b96008d%3A0x2491534ad4d2113a!2sGrote%20Marktstraat%2C%20Den%20Haag!5e0!3m2!1sen!2snl!4v1622887852004!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>


</body>
</html>
