@{
    ViewData["Title"] = "Price - BETA FIT";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="Price.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-3">Price</h1>
    </div>
    <main>
        <div class="pricing-card-container">
            <div class="pricing-card">
                <h2>Basic</h2>
                <p class="price">€19.99/month</p>
                <ul>
                    <li>Access to fitness center</li>
                    <li>Group classes</li>
                    <li>24/7 access</li>
                </ul>
                <a href="#" class="btn">Join Now</a>
            </div>
            <div class="pricing-card">
                <h2>Standard</h2>
                <p class="price">€29.99/month</p>
                <ul>
                    <li>All Basic features</li>
                    <li>Personal training sessions</li>
                    <li>Additional amenities</li>
                </ul>
                <a href="#" class="btn">Join Now</a>
            </div>
            <div class="pricing-card">
                <h2>Premium</h2>
                <p class="price">€39.99/month</p>
                <ul>
                    <li>All Standard features</li>
                    <li><del style="position: relative;">Access to all locations</del></li>
                    <li>Exclusive offers</li>
                </ul>
                <a href="#" class="btn">Join Now</a>
            </div>
        </div>
    </main>
</body>
</html>

