@*@model List<Product>
*@
@{
    ViewData["Title"] = "Shop";
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <header>
        <div class="text-center">
            <h1 class="display-4">Sportschool Webshop</h1>
        </div>
    </header>

    <main>
        <div class="product-list">
            <div class="product-item">
@*                <img src="/images/supplement1.jpg" alt="Supplement 1" class="product-image">
*@                <h2>Supplement 1</h2>
                <p>Beschrijving van supplement 1</p>
                <p>Price: €18.99</p>
                <button class="buy-button">Buy now </button>
            </div>
            <div class="product-item">
@*                <img src="/images/supplement2.jpg" alt="Supplement 2" class="product-image">
*@                <h2>Supplement 2</h2>
                <p>Beschrijving van supplement 2</p>
                <p>Price:€24.99</p>
                <button class="buy-button">Buy now </button>
            </div>
            <div class="product-item">
@*                <img src="/images/apparaat1.jpg" alt="Fitnessapparaat 1" class="product-image">
*@                <h2>Fitness device 1</h2>
                <p>Beschrijving van fitnessapparaat 1</p>
                <p>Price: €31.99</p>
                <button class="buy-button">Buy now </button>
            </div>
            <div class="product-item">
@*                <img src="/images/apparaat2.jpg" alt="Fitnessapparaat 2" class="product-image"> *@                
                <h2>Fitness device 2</h2>
                <p>Beschrijving van fitnessapparaat 2</p>
                <p>Price: €299.99</p>
                <button class="buy-button">Buy now </button>
            </div>
        </div>
    </main>
</body>
</html>
