@{
    ViewData["Title"] = "";
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Fitness Support</h1>
    </div>

    <div class="container">
        <div class="left-section">
            <h2>Personal Trainers</h2>
            <p>
                Heb je een doel voor ogen? En heb je hulp en begeleiding nodig om dat doel te bereiken? Neem dan contact op met een Personal Trainer in jouw club. Gebruik de zoekbalk hierboven om hun profiel te ontdekken en de beste match te vinden op basis van jouw voorkeuren en doelen. Ze hebben elk hun eigen specialiteit en manier van werken en het belangrijkste is dat ze allemaal gecertificeerde professionele trainers zijn.

            </p>
            <p>
                Ze hebben elk hun eigen specialiteit en manier van werken en het belangrijkste is dat ze allemaal gecertificeerde professionele trainers zijn.
            </p>
        </div>
        <div class="right-section">
            <h2>Fysiotherapie</h2>
            <p>
                Als je herstelt van een blessure of pijn hebt, is begeleiding van een professionele fysiotherapeut belangrijk. Bij BETA-FIT in Den Haag kun je fysiotherapie krijgen. De fysiotherapeut zal je adviseren over wat je wel en niet moet doen, zodat je herstel niet vertraagd wordt en je geen nieuwe klachten krijgt.

            </p>
            <p>
                Je zult snel merken dat je klachten verminderen. Onze fysiotherapeut helpt je op een gezonde manier weer fit te worden.
            </p>
        </div>
    </div>
</body>
</html>
