@{
    ViewData["Title"] = "Trainers - BETA FIT";
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/Trainers.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-3">Fitness Support</h1>
    </div>

    <div class="container">
        <div class="left-section">
            <h2>Personal Trainers</h2>
            <p>
                If you have a specific goal in mind and need help and guidance to achieve it, we recommend contacting a Personal Trainer at your gym. They can provide personalized assistance based on your preferences and goals. You can use the search bar above to explore their profiles and find the best match.
            </p>
            <p>
                Each Personal Trainer has their own specialization and approach, but the most important thing is that they are all certified professionals. They can provide you with the expertise and support you need to reach your fitness goals.
            </p>
        </div>
        <div class="right-section">
            <h2>Physiotherapy</h2>
            <p>
                If you are recovering from an injury or experiencing pain, it is important to seek guidance from a professional physiotherapist. At BETA-FIT in The Hague, you can receive physiotherapy services. The physiotherapist will provide you with advice on what activities to engage in and what to avoid, ensuring that your recovery is not delayed and you don't develop new issues.
            </p>
            <p>
                With the help of our physiotherapist, you will experience a reduction in your symptoms. They will assist you in safely regaining your fitness levels.
            </p>
        </div>
    </div>
</body>
</html>
